*{
    margin: 0px;
    padding: 0px;
    /*min-height: 61px;*/
    
}
.backgroudnRight{
    background-color: #B89595;
    margin-top: 61px;
    width: 320px;
    height: 100vh;
    margin: 0px;
    float:right ;
    z-index: 100;
   /* transform: translateX(61px);*/
    
}
.backgrundCenter {
    background-color: #966810;
    margin-top: 61px;
    width: 512px;
    height: 100vh;
    float: center;
    text-align: center;
    display: flex;
    justify-content: center; /* Esto centrará horizontalmente el elemento */
    align-items: center; /* Esto centrará verticalmente el elemento */
    text-align: center; /* Esto centrará el contenido dentro del elemento */

}
